* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.36);
}

p, h1, label {
  user-select: none;
}

header {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
}

#splash {
  font-size: 22px;
}

#song-info button {
  padding: 0 5px 0 5px;
}

#bpm-select {
  max-width: 50px;
}

#playback {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

  img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(8%) saturate(7486%) hue-rotate(62deg) brightness(105%) contrast(99%);
  }

  #play-btn {
    height: 28px;
  }

  #stop-btn {
    height: 29px;
  }
}

#settings {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: right;
}

#settings button {
  width: 40px;
}

#settings select {
  padding: 0 5px 0 5px;
  text-align: center;
}

main {
  display: grid;
  grid-template-areas: "rack arrangement";
  grid-template-columns: 1fr 3fr;
  min-height: 100%;
  flex: 1;
  padding: 0 10px 10px 10px;
  gap: 10px;
}

@media screen and (max-width: 1300px) {
  main {
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (max-width: 800px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

footer {
  height: 100px;
  background-color: rgb(200, 200, 200);
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 10px 0 10px;
  border-radius: 5px 5px 0 0;
}